@import "../node_modules/bootstrap/scss/bootstrap.scss";

//base files
@import "base/variables";
@import "base/typography";
@import "base/mixins";
@import "base/helpers";

//components
@import "components/button";
@import "components/input";
@import "components/table";
@import "components/list";
@import "components/header";
@import "components/pages";
@import "components/modal";
@import "components/toggle";
@import "components/footer";
@import "components/blog";
@import "components/responsive";
@import "components/mobile";

// fonts
// @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

// swiper
@import url('https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css');

// lightbox
@import url('https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css');
