.main-blog {
  background: $blue;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;

  img {
    max-width: 100%;
  }

  .container-fluid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    max-height: 100%;
    position: relative;
  }

  .swiper-container-wrap {
    position: relative;
    margin: 0 auto;
    align-self: flex-end;
  }

  .slider {
    max-width: 1056px;
    padding: 0 3px;

    .slide {
      .row {
        margin-left: -20px;
        margin-right: -20px;

        &.first-row {
          margin-bottom: 40px;
        }
      }

      .col {
        padding-left: 20px;
        padding-right: 20px;
        max-height: 255px;
        overflow: hidden;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        max-height: 255px;
      }

      .blog-post {
        .row {
          margin-left: -3px;
          margin-right: -3px;
        }

        .col {
          padding-left: 3px;
          padding-right: 3px;
          width: 50%;
        }

        a {
          img {
            transition: opacity ease 0.3s;
          }

          &:hover,
          &:focus {
            img {
              opacity: 0.75;
            }
          }
        }

        .post-content {
          border: 1px solid $light-blue;
          padding: 22px 25px;
          line-height: 21px;
          max-width: 50%;
          overflow: hidden;
          overflow-wrap: break-word;

          h2 {
            font-size: 20px;

            a {
              color: $white;

              &:hover,
              &:focus {
                color: $light-blue;
              }
            }
          }

          p {
            font-size: 15px;
            margin-bottom: 0;
          }

          time {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
            padding: 2px 0 25px;
            display: block;
          }
        }
      }
    }
  }

  .slider-nav-wrap {
    margin: -28px auto 0;
    top: 50%;
    width: 100%;
    position: absolute;
    max-width: 1050px;

    .slider-nav {
      position: absolute;
      cursor: pointer;
      padding: 20px;
      width: 80px;
      height: 60px;

      &:hover,
      &:focus {
        &:before {
          background: $white;
        }

        &:after {
          border-color: $white;
        }
      }

      &:before,
      &:after {
        transition: all ease 0.3s;
      }

      &:before {
        position: absolute;
        top: 26px;
        right: 20px;
        display: block;
        content: '';
        width: 41px;
        height: 4px;
        background: $light-blue;
      }

      &:after {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        content: '';
        border-top: 4px solid $light-blue;
        border-right: 4px solid $light-blue;
        transform: rotate(45deg);
        width: 16px;
        height: 16px;
      }

      &.swiper-button-disabled {
        display: none;
      }
    }

    .prev {
      left: -90px;

      &:before,
      &:after {
        right: auto;
        left: 20px;
      }

      &:after {
        transform: rotate(-135deg);
      }
    }

    .next {
      right: -90px;
    }
  }

  .side-title {
    transform: rotate(-90deg);
    transform-origin: center;
    text-transform: uppercase;
    opacity: 0.19;
    color: $gray;
    font-size: 88px;
    font-weight: 700;
    letter-spacing: 8.8px;
    position: absolute;
    top: calc(50% - 140px);
    left: -116px;
  }

  .social-bar {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    align-self: flex-end;
    text-align: center;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;

    .follow {
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 30px;

      svg {
        margin-left: 20px;

        path {
          transition: fill ease 0.3s;
        }
      }

      a {
        &:hover,
        &:focus {
          svg path {
            fill: $white;
          }
        }
      }
    }

    .insta {
      display: flex;
      justify-content: center;
      // max-width: 1300px;
      margin: 0 auto;

      img {
        width: 100%;
        padding: 0 3px;
        transition: opacity ease 0.3s;
      }

      a {
        &:hover,
        &:focus {
          img {
            opacity: 0.75;
          }
        }
      }
    }
  }
}

.main-single {
  background: $white;
  color: $black;
  height: auto;

  .side-title {
    transform: rotate(-90deg);
    transform-origin: center;
    text-transform: uppercase;
    opacity: 0.19;
    color: $light-blue;
    font-size: 88px;
    font-weight: 700;
    letter-spacing: 8.8px;
    position: absolute;
    top: calc(50% - 74px);
    left: -116px;
  }

  .single-title {
    font-weight: 400;
    line-height: 22px;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  strong,
  b {
    font-weight: 700;
  }
}

.blog-single {
  height: auto;
  padding-top: 30px;
  padding-right: 30px;

  .blog-nav {
    position: relative;
    width: 133px;
    margin: 0 auto;
    text-align: center;

    .nav-arrow {
      width: 24px;
      height: 24px;

      &:before,
      &:after {
        transition: all ease 0.3s;
      }

      &:before {
        position: absolute;
        top: 10px;
        right: 0;
        display: block;
        content: '';
        width: 24px;
        height: 2px;
        background: $light-blue;
      }

      &:after {
        position: absolute;
        top: 7px;
        right: 0;
        display: block;
        content: '';
        border-top: 2px solid $light-blue;
        border-right: 2px solid $light-blue;
        transform: rotate(45deg);
        width: 8px;
        height: 8px;
      }

      &.prev {
        float: left;

        &:before {
          left: 0;
        }

        &:after {
          left: 0;
          transform: rotate(-135deg);
        }
      }

      &.next {
        float: right;
      }

      &:hover,
      &:focus {
        &:before {
          background: $black;
        }

        &:after {
          border-color: $black;
        }
      }
    }

    .tiles {
      display: inline-block;
      padding-top: 2px;

      span {
        margin: 0 2px;
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 2px solid $light-blue;
        transition: all ease 0.3s;
      }

      &:hover,
      &:focus {
        span {
          border-color: $black;
        }
      }
    }
  }

  .featured {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px 0 34px;

    img {
      width: 100%;
      height: auto;
      max-width: 100%;
      flex-shrink: 0;
    }

    time {
      position: absolute;
      top: 0;
      right: 0;
      background: $black;
      color: $white;
      width: 64px;
      height: 64px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-transform: uppercase;

      strong {
        display: block;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1.8px;
        line-height: 13px;
      }

      span {
        display: block;
        font-size: 12px;
        font-weight: 400;
        line-height: 13px;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;

    &.alignright {
      float: right;
      margin-bottom: 30px;
    }

    &.alignleft {
      float: left;
      margin-bottom: 30px;
    }

    &.aligncenter {
      display: block;
      margin: 0 auto 30px;
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: 30px;

    a {
      flex: 0 0 calc(33.3333% - 12px);
      margin: 0 6px 12px;
    }
  }

  .single-content {
    color: $light-gray;
    line-height: 22px;
    font-size: 15px;
    padding-bottom: 30px;

    a {
      color: $black;

      &:hover,
      &:focus {
        color: $light-blue;
      }
    }

    .single-title {
      margin-bottom: 0;
    }

    .author {
      margin-bottom: 30px;
      font-size: 13px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 30px;
    }

    h2 {
      font-size: 40px;
    }

    p,
    ul,
    ol {
      margin-bottom: 30px;
      font-size: 15px;
    }
  }

  strong,
  b {
    font-weight: 700;
  }
}

.sidebar {
  padding-top: 30px;

  .social-bar {
    width: 100%;

    .follow {
      text-align: right;
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 30px;

      svg {
        margin-left: 20px;

        path {
          transition: fill ease 0.3s;
        }
      }

      a {
        &:hover,
        &:focus {
          svg path {
            fill: $black;
          }
        }
      }
    }

    .insta {
      display: flex;
      flex-wrap: wrap;
      margin-left: -3px;
      margin-right: -3px;
      margin-bottom: 30px;

      img {
        max-width: 100%;
        height: auto;
        transition: opacity ease 0.3s;
      }

      a {
        flex: 0 0 calc(33.3333% - 6px);
        margin: 0 3px 6px;

        &:hover,
        &:focus {
          img {
            opacity: 0.75;
          }
        }
      }
    }
  }

  .recent-news {
    line-height: 22px;

    .news-item {
      border-bottom: 1px solid $light-blue;
      margin-bottom: 25px;
      padding-bottom: 25px;
      color: $light-gray;

      time {
        font-size: 12px;
        font-weight: 700;
      }

      h3 {
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;

        a {
          color: $light-gray;

          &:hover,
          &:focus {
            color: $light-blue;
          }
        }
      }
    }
  }
}

.fancybox-thumbs__list a:before {
  border: 6px solid $light-blue !important;
}

.fancybox-progress {
  background: $light-blue !important;
}

.page-template-template-new-blog,
.new-blog,
.single-post {
  background: $white;
  color: $black;

  .blog-title {
    h1 {
      font-size: 30px;
      font-weight: 700;
    }

    p {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }

  .categories {
      font-size: 13px;
      font-weight: 700;
      margin: 10px 0;

      a {
        color: $light-blue !important;
      }
    }

    .meta {
      font-size: 14px;
      margin-bottom: 30px;

      a {
        font-size: 12px;
        font-weight: 700;
      }
    }

  .blog-post {
    color: $black;

    p {
      font-size: 14px;
      margin-bottom: 30px;
      line-height: 20px;
    }

    .thumb {
      position: relative;
      overflow: hidden;

      .thumb-wrap {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          transition: opacity 0.3s ease;
          max-width: 100%;
          flex-shrink: 0;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    a {
      color: $black;

      &:hover {
        color: $light-blue;
      }
    }

    h2,
    h4 {
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 0;
    }

    .btn {
      display: none;
    }

    .meta {
      margin-bottom: 20px;
    }
  }

  .featured-post {
    position: relative;
    height: 300px;
    margin-bottom: 30px;
    padding: 30px;
    color: $white;
    width: 100%;
    overflow: hidden;

    .categories {
      margin-top: 0;
    }

    a {
      color: $white;

      &:hover {
        color: $light-blue;
      }
    }

    h2 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 0;
    }

    .btn {
      display: inline-block;
    }

    .thumb {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: -1;

      .thumb-wrap {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        width: 100%;
        height: auto;

        img {
          height: auto;
          width: 100%;
          max-width: 100%;
          flex-shrink: 0;
        }

        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  .sidebar {
    padding-top: 46px;
    color: $black;
    margin-top: 30px;

    h3 {
      font-size: 12px;
      font-weight: 700;
      // text-transform: uppercase;
      margin-bottom: 20px;
    }

    .must-read-post {
      margin-bottom: 20px;

      a {
        color: $black;

        &:hover {
          color: $light-blue;
        }
      }

      h4 {
        font-size: 15px;
        font-weight: 700;
      }

      .meta {
        font-size: 12px;

        a {
          font-weight: 700;
        }
      }
    }

    .searchform {
      padding-top: 10px;
      margin: 30px 0;
      border-bottom: 4px solid $gray;

      input {
        font-size: 12px;
        border: none;
        border-radius: 0;
      }

      button {
        background: none;
        box-shadow: none;
        border: none;
        color: $gray;
        font-size: 26px;

        &:hover {
          color: $black;
        }
      }

      input,
      button {
        height: 50px;
      }
    }

    .social-bar {
      padding: 10px 0;

      .follow {
        padding-bottom: 15px;
      }
    }

    .sign-up {
      margin-bottom: 30px;

      input {
        width: 100%;
        height: 43px;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        padding: 10px 15px;
        background-color: #f4f4f4;
        margin-bottom: 10px;
        color: $black;

        &::-webkit-input-placeholder {
          color: $gray;
        }

        &:-ms-input-placeholder {
          color: $gray;
        }

        &::placeholder {
          color: $gray;
        }
      }

      input[type=checkbox] {
        width: 19px;
        height: 19px;
        padding: 0;
      }

      label {
        font-size: 11px;
        line-height: 19px;
        padding: 5px 0 0 10px;

        a {
          color: $light-blue;
        }
      }

      .btn {
        margin: 20px 0 0;
      }
    }

    .follow-us {
      padding-top: 10px;
      font-size: 20px;

      a {
        color: $light-blue;

        &:hover {
          color: $black;
        }
      }
    }
  }

  .blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .blog-title {
      color: #bababa;
      font-size: 30px;
      font-weight: 700;

      a {
        color: #bababa;

        &:hover {
          color: $light-gray;
        }
      }
    }

    .blog-navigation {
      position: relative;

      .separator {
        display: inline-block;
        width: 2px;
        height: 20px;
        margin: 0 5px -7px;
        background: #e0e0e0;
      }

      a {
        position: static;
        z-index: 2;
        color: $black;
        font-size: 11px;
        font-weight: 700;
        padding-right: 30px;

        &:first-child {
          padding: 0 0 0 30px;
        }

        &:hover {
          color: $light-blue;
        }
      }

      .nav-arrow {
        width: 24px;
        height: 24px;

        &:before,
        &:after {
          transition: all ease 0.3s;
        }

        &:before {
          position: absolute;
          top: 10px;
          right: 0;
          display: block;
          content: '';
          width: 24px;
          height: 2px;
          background: $light-blue;
        }

        &:after {
          position: absolute;
          top: 7px;
          right: 0;
          display: block;
          content: '';
          border-top: 2px solid $light-blue;
          border-right: 2px solid $light-blue;
          transform: rotate(45deg);
          width: 8px;
          height: 8px;
        }

        &.prev {
          &:before {
            left: 0;
          }

          &:after {
            left: 0;
            transform: rotate(-135deg);
          }
        }
      }
    }
  }

  .single-title {
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
  }

  .featured {
    margin-bottom: 20px;
  }

  .share {
    padding-top: 10px;
    font-size: 20px;
    margin: 30px 0;

    h3 {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    a {
      color: $black;
      font-size: 20px;

      &:hover {
        color: $light-blue;
      }
    }
  }

  .related {
    padding-top: 30px;
    margin: 30px 0;

    h3 {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .thumb img {
      // height: 175px;
      max-width: 100%;
      flex-shrink: 0;
    }

    .row {
      margin-left: -10px;
      margin-right: -10px;

      .col-4 {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.new-blog {
  background: none !important;
  opacity: 0;
  position: relative;
  border-top: 1px solid #e0e0e0;
}

.page-template-template-new-blog .new-blog {
  opacity: 1;
}
