.btn {
  text-align: center;
  background: none;
  border: 1px solid $white;
  border-radius: 0;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  padding: 20px 25px;
  transition: all ease 0.3s;
  color: $light-blue !important;

  &:hover,
  &:focus,
  &.active {
    border-color: $light-blue;
    background: $light-blue;
    color: $blue !important;

    &:before {
      background: $blue !important;
    }

    &:after {
      border-color: $blue !important;
    }
  }
}

.btn-arrow {
  text-align: left;
  position: relative;
  padding: 16px 72px 16px 25px;

  &:before,
  &:after {
    transition: all ease 0.3s;
  }

  &:before {
    position: absolute;
    top: 33px;
    right: 25px;
    display: block;
    content: '';
    width: 24px;
    height: 2px;
    background: $light-blue;
  }

  &:after {
    position: absolute;
    top: 30px;
    right: 25px;
    display: block;
    content: '';
    border-top: 2px solid $light-blue;
    border-right: 2px solid $light-blue;
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
  }

  &:hover {
    &:before {
      background-color: $light-blue;
    }

    &:after {
      border-color: $light-blue;
    }
  }
}

.btn-icon {
  svg {
    margin-right: 25px;

    path {
      fill: $light-blue;
      transition: fill ease 0.3s;
    }
  }

  &:hover,
  &:focus,
  &.active {
    svg path {
      fill: $blue;
    }
  }
}

.btn-light {
  color: $black !important;
  border-color: $light-blue;

  &:before {
    background-color: $black;
  }

  &:after {
    border-color: $black;
  }

  &.btn-arrow {
    padding: 16px 72px 16px 25px;
  }
}

.btn-sm {
  font-size: 12px;
  padding: 10px 20px;
}
