.lds-loader {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: none;

  &.active {
    display: block;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid $white;
  opacity: 1;
  border-radius: 50%;
  box-shadow: inset 0 0 3px $blue;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.go-back {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 5;
  display: none;
  font-size: 14px;

  a {
    position: relative;
    color: $light-blue;

    &::before {
      position: absolute;
      top: 5px;
      left: -12px;
      display: block;
      content: "";
      border-top: 1px solid $light-blue;
      border-right: 1px solid $light-blue;
      transform: rotate(-135deg);
      width: 9px;
      height: 9px;
    }
  }

  &.active {
    display: block;
  }
}

.go-next {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 5;
  display: none;
  font-size: 14px;

  a {
    position: relative;
    color: $light-blue;

    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      content: "";
      border-top: 2px solid $light-blue;
      border-right: 2px solid $light-blue;
      transform: rotate(-225deg);
      width: 18px;
      height: 18px;
    }
  }

  &.active {
    display: block;
  }
}
