.header {
  .nav-button {
    position: relative;
    z-index: 2;
    margin: 30px 15px;
    float: right;
    width: 15px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    span {
      float: right;
      width: 10px;
      height: 2px;
      margin-bottom: 2px;
      background: $white;
      border-radius: 2px;
      transition: width ease 0.3s;
      transition: all ease 0.3s;
    }

    .long {
      width: 15px;
    }

    &:hover {
      span {
        width: 15px;
      }
    }
  }

  .logo,
  .logo-light {
    display: inline-block;
    font-size: 26px;
    margin: 14px 15px 13px;
    transform: translateX(0);
    transition: all ease 0.3s;

    svg {
      display: block;
      width: 105px;
      height: 45px;
    }

    &.hide {
      transform: translateX(-150%);
    }

    // &:hover,
    // &:focus {
    //   svg {
    //     path,
    //     polygon {
    //       fill: $light-blue;
    //     }
    //   }
    // }
  }

  .logo-light {
    display: none;
  }

  .contact-us,
  .covid-update {
    position: relative;
    float: right;
    color: $white;
    font-size: 12px;
    padding: 28px 10px;
    margin-right: 20px;

    &:after {
      position: absolute;
      top: 34px;
      right: 0;
      display: block;
      content: '';
      border-top: 1px solid $white;
      border-right: 1px solid $white;
      transform: rotate(45deg);
      width: 6px;
      height: 6px;
    }

    &:hover,
    &:focus,
    &.active {
      color: $light-blue;

      &:after {
        border-color: $light-blue;
      }
    }
  }

  .covid-update {
    margin-right: 0;

    &:after {
      display: none;
    }
  }

  .top-bar {
    position: relative;
    z-index: 5;
    // width: 100%;
  }

  .menu-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    align-items: center;
    justify-content: flex-end;
    background: $blue;
    display: flex;
    transform: translateY(-100%);
    transform-origin: top;
    transition: transform ease 0.6s;
    overflow: hidden;

    .menu-lines {
      z-index: 1;
      top: -1000px;
      left: -810px;
      position: absolute;
    }

    nav {
      float: right;
      padding-right: 180px;
    }

    ul {
      list-style: none;
      text-transform: lowercase;

      li {
        margin-top: 24px;

        &:first-child {
          margin-top: 0;
        }

        a {
          color: $white;
          font-size: 24px;

          &.active,
          &:hover,
          &:focus {
            color: $light-blue;
          }
        }

        &.current-menu-item {
          > a {
            color: $light-blue;
          }
        }
      }

      ul {
        padding-left: 24px;

        li {
          margin: 0;
        }

        a {
          font-size: 19px;
        }
      }
    }
  }

  &.opened {
    .menu-wrapper {
      transform: translateY(0);
    }

    .nav-button {
      span {
        opacity: 0;
      }

      .long {
        opacity: 1;
      }

      .long-left {
        transform: rotate(-45deg);
      }

      .long-right {
        margin-top: calc(-50% - 1px);
        transform: rotate(45deg);
      }
    }
  }

  &.header-light {
    background: $white;
    color: $black;

    .logo {
      display: none;
      // svg {
      //   path,
      //   polygon {
      //     fill: $black;
      //   }
      // }

      // &:hover,
      // &:focus {
      //   svg {
      //     path,
      //     polygon {
      //       fill: $light-blue;
      //     }
      //   }
      // }
    }

    .logo-light {
      display: inline-block;
    }

    a {
      color: $black;

      &:hover,
      &:focus {
        color: $light-blue;
      }
    }

    .contact-us {
      &:after {
        border-color: $black;
      }

      &:hover,
      &:focus,
      &.active {
        &:after {
          border-color: $light-blue;
        }
      }
    }

    .nav-button {
      span {
        background: $black;
      }
    }

    &.opened {
      a {
        color: $white;
      }

      .contact {
        &:after {
          border-color: $white;
        }
      }

      .nav-button {
        span {
          background: $white;
        }
      }

      // .logo svg path,
      // .logo svg polygon {
      //   fill: $white;
      // }

      .logo-light {
        display: none;
      }

      .logo {
        display: inline-block;
      }
    }
  }

  .covid-banner {
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%;
    border-radius: 0;
    background: $light-blue;
    color: $blue;
    text-align: center;
    padding: 5px 22px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    border: 0;

    a {
      color: $black;

      &:hover,
      &:focus {
        color: $black;
      }
    }

    .close {
      opacity: 1;
      font-size: 30px;
      font-weight: 400;
      padding: 0 4px 0 0;
      text-shadow: none;
      color: $black;
    }
  }
}

.page-template-template-audit-cost {
  .header-light {
    .contact-us {
      color: $white;

      &:after {
        border-color: $white;
      }
    }

    .nav-button span {
      background-color: $white;
    }
  }
}
