form {
  input,
  textarea {
    width: 100%;
    background: none;
    color: $white;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    padding: 15px 0;
    border: 0;
    border-bottom: 1px solid rgba($white, 0.75);

    &::-webkit-input-placeholder {
      color: $white;
    }

    &:-ms-input-placeholder {
      color: $white;
    }

    &::placeholder {
      color: $white;
    }
  }
  
  textarea {
    height: 49px;
  }
}
