.mobile-show {
  display: none !important;
}

.mobile-reset {
  height: auto !important;
  max-height: none !important;
  width: 100% !important;
  max-width: 100% !important;
  position: relative !important;
  transform: none !important;
  opacity: 1 !important;
  display: block !important;
  margin: 0 auto !important;
  top: auto !important;
  left: auto !important;
  right: auto !important;
  bottom: auto !important;
  padding-bottom: 30px !important;
  overflow: visible !important;
}

.mobile-device {
  overflow: auto;
  overflow-x: hidden;

  .row {
    width: auto;
  }

  .mobile-hide {
    display: none !important;
  }

  .mobile-show {
    display: block !important;
  }

  body {
    overflow: auto;
    overflow-x: hidden;
    padding-top: 95px;
    background: $blue;
  }

  .header {
    position: fixed;
    top: 29px;
    width: 100%;
    background: $blue;
    z-index: 9;

    .top-bar {
      z-index: 10;
      background: $blue;
    }
  }

  .header-light {
    background: $white;

    .top-bar {
      background: $white;
    }

    &.opened {
      background: $blue;

      .top-bar {
        background: $blue;
      }
    }
  }

  .header.opened .menu-wrapper {
    position: relative;
    max-width: none !important;
    width: auto;

    ul {
      height: calc(100vh - 76px);
      padding-left: 15px;
      padding-bottom: 30px;
      overflow-y: scroll;

      ul {
        height: 100%;
        padding-bottom: 0;
      }
    }
  }

  .header .logo.hide {
    transform: none;
  }

  .home-1 {
    height: calc(100vh - 76px);
    max-height: calc(100vh - 76px);

    .logo {
      margin-bottom: 30px;
    }

    h1 {
      font-size: 30px;
    }

    .large {
      margin: 30px 0;
    }
  }

  .home-2 {
    height: calc(100vh - 76px);
    max-height: calc(100vh - 76px);
    width: 100%;
    position: relative !important;
    top: auto;
    transform: none !important;
    text-align: center;

    h1 {
      font-size: 30px;

      br {
        display: none;
      }
    }

    .flex-row {
      display: block !important;
    }

    .btn.mobile-show {
      display: inline-block !important;
      margin: 10px 15px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  .audit-main .audit-section,
  .it-audit-main .audit-section,
  .tax-main .tax-section {
    height: calc(100vh - 76px);
    max-height: calc(100vh - 76px);
    width: 100%;
    position: relative !important;
    top: auto;
    transform: none !important;
    text-align: center;
    max-width: 100%;

    .button-section {
      margin-top: 0;
      margin-bottom: 0;
      max-width: 100%;
    }

    p br {
      display: none;
    }

    .flex-row {
      display: block !important;
    }

    .btn.mobile-show {
      display: inline-block !important;
      margin: 10px 15px;
    }
  }

  .audit-clients-main .clients-section,
  .it-audit-clients-main .clients-section {
    @extend .mobile-reset;

    .container,
    .row {
      height: auto !important;
      max-height: none !important;
    }

    .row,
    .col {
      max-width: none !important;
      display: block !important;
    }

    h1 {
      font-size: 26px;
    }

    p br {
      display: none;
    }

    .why-section,
    .button-section {
      @extend .mobile-reset;
      text-align: center !important;
      display: flex !important;
      align-items: center !important;
      height: 100vh !important;
      max-height: 100vh !important;

      .why-content {
        @extend .mobile-reset;
        padding-bottom: 0 !important;
      }

      h1 {
        transform: none !important;
        position: relative !important;
        bottom: auto;
        left: auto;
        // text-align: center;
        margin-bottom: 30px;
      }
    }

    .button-section {
      padding-top: 30px;
      height: calc(100vh - 76px) !important;
      max-height: calc(100vh - 76px) !important;
    }

    .why-section {
      padding-bottom: 0 !important;

      .audit-fact {
        opacity: 1 !important;
        padding: 0;
      }
    }
  }

  .audit-section-4 {
    @extend .mobile-reset;
    padding-top: 30px;
    padding-bottom: 0 !important;

    h1 {
      font-size: 30px;
      line-height: normal;
      margin-bottom: 30px;
    }

    .audit-facts {
      width: 100% !important;
      max-width: none !important;
      margin-left: -15px !important;
      margin-right: -15px !important;
      text-align: center;

      .col-3 {
        padding-left: 15px;
        padding-right: 15px;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
      }

      h2 {
        min-height: 0 !important;
        padding-right: 0;
        margin-right: 0;
        opacity: 1 !important;
        border-color: $light-blue !important;
      }

      p {
        opacity: 1 !important;
      }
    }
  }

  .audit-testimonial {
    @extend .mobile-reset;
    padding-top: 30px;

    &:after {
      display: none;
    }

    blockquote {
      padding-left: 30px;
      padding-right: 30px;
    }

    blockquote:before {
      left: -12px;
      font-size: 81px;
    }

    blockquote:after {
      right: -12px;
      font-size: 81px;
    }

    h2 {
      margin-bottom: 30px;
    }

    .btn {
      font-size: 22px;
    }
  }

  .audit-team {
    @extend .mobile-reset;
    padding-top: 30px;
    text-align: center;

    h1 {
      font-size: 60px;
      line-height: normal;
      margin-bottom: 30px;
    }

    .col-5,
    .col-7,
    .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .audit-section-6 {
    @extend .mobile-reset;
    padding-top: 30px;
    display: flex !important;
    align-items: center;
    height: calc(100vh - 75px) !important;
    max-height: calc(100vh - 75px) !important;

    h1 {
      font-size: 30px;
      line-height: normal;
      margin-bottom: 30px;
    }
  }

  .modal-dialog {
    max-width: 100%;
  }

  .modal-content .modal-title {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: normal;
  }

  .modal-content .modal-body {
    padding: 15px;

    form .col {
      flex-basis: auto;
      margin-top: 15px;
    }
  }

  .audit-candidates-main .candidates-section,
  .it-audit-candidates-main .candidates-section {
    @extend .mobile-reset;
    padding-top: 30px;

    h1 {
      font-size: 30px;
      line-height: normal;
    }

    .container-fluid,
    .row,
    .col {
      height: auto !important;
      max-height: none !important;
      max-width: none !important;
    }

    #audit-candidates-1-1,
    #audit-candidates-1-2,
    #it-audit-candidates-1-1,
    #it-audit-candidates-1-2  {
      @extend .mobile-reset;
    }

    .icon-columns {
      margin-top: 0;

      .col-4 {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 60px;

        &:last-child {
          margin-bottom: 15px;
        }
      }
    }

    &:before {
      display: none;
    }
  }

  .audit-section-10 {
    @extend .mobile-reset;

    .call-to-action {
      opacity: 1 !important;
    }

    .flex-row {
      display: block !important;

      .btn {
        margin-bottom: 15px;
      }
    }
  }

  .toggle .toggle-header button {
    text-align: left;
  }

  .tax-clients-main .tax-clients {
    @extend .mobile-reset;
    padding-top: 30px;
    padding-bottom: 0 !important;
    text-align: center !important;

    h1 {
      font-size: 30px;
      line-height: normal;
    }

    .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .tax-candidates-main .tax-candidates {
    @extend .mobile-reset;
    padding-top: 30px;
    padding-bottom: 0 !important;
    text-align: center !important;
    display: -webkit-box;
    display: flex;
    height: calc(100vh - 76px) !important;
    max-height: calc(100vh - 76px) !important;
    justify-content: center;

    h1 {
      font-size: 30px;
      line-height: normal;
    }

    p {
      margin-bottom: 30px;
    }
  }

  .tax-love {
    @extend .mobile-reset;
    padding-top: 30px;
    margin-top: -1px !important;
    display: -webkit-box;
    display: flex;
    height: calc(100vh - 76px) !important;
    max-height: calc(100vh - 76px) !important;
    justify-content: center;

    .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      height: auto !important;
    }

    h1 {
      font-size: 60px;
      line-height: normal;
      text-align: center;
      width: 100%;
      margin-bottom: 15px;

      #tax,
      #love {
        transform: none !important;
        opacity: 1 !important;
      }
    }

    .larger p {
      font-size: 26px;
    }

    .content-wrap {
      opacity: 1 !important;
      text-align: center;
    }
  }

  .tax-how {
    @extend .mobile-reset;
    padding-top: 30px;
    padding-bottom: 0 !important;

    h1 {
      font-size: 30px;
      line-height: normal;
      margin-bottom: 30px;
    }

    .col-3 {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }

    .icon-cols .icon-col {
      margin-bottom: 15px;

      svg,
      h2,
      p {
        opacity: 1 !important;
      }

      h2 {
        margin-top: 15px;
      }

      .arrow {
        display: none;
      }
    }
  }

  .about {
    @extend .mobile-reset;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    text-align: center !important;

    .col {
      @extend .mobile-reset;
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }

    #about-1 {
      display: flex !important;
      align-items: center;
      height: 100vh !important;
      max-height: 100vh !important;
      padding: 0 !important;
      margin: -76px 0 0 !important;
    }

    h1 {
      font-size: 30px;
      line-height: normal;
      width: 100%;

      strong {
        opacity: 1 !important;
        display: block;
      }
    }

    h2,
    p,
    .btn {
      opacity: 1 !important;
    }
  }

  .webinar {
    @extend .mobile-reset;
    padding-top: 30px;

    h1 {
      font-size: 30px;
      line-height: normal;
      margin-bottom: 30px;
    }

    .wow-wrap .wow,
    .join-wrap .join,
    .col {
      @extend .mobile-reset;
      flex: 0 0 100%;
      max-width: 100%;
    }

    .wow-wrap p {
      font-size: 19px;
      line-height: 30px;
    }

    .wow-wrap {
      text-align: center !important;
      display: flex !important;
      align-items: center;
      height: calc(100vh - 106px) !important;
      max-height: calc(100vh - 106px) !important;
    }

    .p-large {
      font-size: 19px !important;
      margin-top: 0;
      padding-top: 0 !important;
      line-height: 30px !important;

      p {
        font-size: 26px !important;
      }
    }

    .join-wrap .join .webinar-wrap .webinar-table {
      @extend .mobile-reset;
      padding-top: 30px;
      padding-bottom: 0 !important;

      tr {
        display: block;
        padding: 15px 0;
      }

      td {
        width: 100%;
        display: block;
        text-align: center;
        padding: 10px 0;

        &:last-child {
          text-align: center;
          padding-right: 0;
        }
      }
    }

    .join-wrap,
    .join {
      padding-bottom: 0 !important;
      text-align: center !important;
    }
  }

  .application {
    @extend .mobile-reset;
    padding-top: 30px;
    padding-bottom: 0 !important;

    h1 {
      font-size: 30px;
      line-height: normal;
      margin-bottom: 30px;
    }
  }

  .clients {
    @extend .mobile-reset;
    padding-top: 30px;
    padding-bottom: 0 !important;

    h1 {
      font-size: 30px;
      line-height: normal;
      margin-bottom: 45px;

      strong {
        display: block;
      }
    }

    .logos .col {
      flex: 0 0 100%;
      max-width: 100%;
      min-height: 0 !important;
      margin-bottom: 45px;

      &.space-between {
        margin-bottom: 0;
        width: 100%;
      }
    }
  }

  .contact {
    @extend .mobile-reset;
    padding-top: 30px;
    // padding-bottom: 0 !important;
    text-align: center !important;

    h1 {
      font-size: 30px;
      line-height: normal;
      margin-bottom: 30px;
    }

    .col,
    .col-9,
    .col-3 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .col-3 {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      -webkit-order: -1;
      margin-top: 0;
    }
  }

  .main-blog {
    @extend .mobile-reset;
    padding-bottom: 0 !important;

    .side-title {
      transform: none;
      position: relative;
      top: auto;
      left: auto;
      opacity: 1;
      color: $white;
      text-align: center;
      font-size: 30px;
      line-height: normal;
      font-weight: 400;
      padding: 30px 0;
      letter-spacing: 1px;
    }

    .slider-nav-wrap {
      display: none;
    }

    .social-bar {
      .insta {
        display: flex;
        flex-wrap: wrap;
        margin-left: -3px;
        margin-right: -3px;

        img {
          max-width: 100%;
          height: auto;
          transition: opacity ease 0.3s;
          padding: 0;
        }

        a {
          flex: 0 0 calc(33.3333% - 6px);
          margin: 0 3px 6px;

          // &:nth-child(10),
          // &:nth-child(11) {
          //   display: none;
          // }

          &:hover,
          &:focus {
            img {
              opacity: 0.75;
            }
          }
        }
      }
    }

    .container-fluid {
      display: block;
    }

    .slider .slide .col {
      overflow: auto;
      height: 100% !important;
      max-height: none !important;
      flex-basis: auto;
      width: 100%;
    }

    .slider .slide .blog-post {
      .col {
        width: 100% !important;
        max-width: 100% !important;
        flex-basis: auto !important;
        padding: 0;
        order: -1;
        -webkit-order: -1;
      }

      .post-content {
        height: 255px;
        padding: 22px 25px;
        order: 1;
        -webkit-order: 1;

        p, h2 {
          // display: none;
        }
      }
    }

    .swiper-wrapper {
      display: block !important;
    }

    .blog-post {
      padding-bottom: 30px;
    }

    .slider .slide .row.first-row {
      margin-bottom: 0;
    }
  }

  .page-template-template-new-blog,
  .single-post {
    background: $white;

    .header {
      border: 0;
    }

    .featured-post {
      overflow: none !important;

      .thumb {
        .thumb-wrap {
          height: 300px !important;

          img {
            height: 300px !important;
          }
        }
      }
    }
  }

  .audit-cost-main {
    @extend .mobile-reset;
    text-align: center;

    .audit-cost-section {
      padding-top: 30px;

      .container {
        padding-right: 0;
      }

      h1:after {
        margin: 20px auto 0;
      }

      ul,
      ol {
        text-align: left;
      }
    }
  }

  .how-works-main {
    @extend .mobile-reset;
    padding-top: 30px;
  }

  .thanks-main {
    @extend .mobile-reset;
    padding-top: 30px;
    min-height: 100%;
    display: flex !important;
    align-items: center !important;

    .thanks {
      display: none;
    }
  }

  .vertical-content {
    @extend .mobile-reset;
  }

  .go-next {
    display: none !important;
  }

  main.main.tax-candidates-main {
    display: -webkit-box;
    display: flex;
    flex-direction: column;

    .tax-love {
      order: 1;
      -webkit-order: 1;
      margin-top: 0 !important;

      .container-fluid {
        height: 100vh !important;
        display: flex;
        align-items: center;
      }

      .row {
        display: block;
        height: auto !important;
        max-height: none;
      }
    }

    .tax-how {
      order: 2;
      -webkit-order: 2;
    }

    .tax-candidates {
      order: 3;
      -webkit-order: 3;

      .container {
        justify-content: center !important;
      }

      .col {
        max-width: 100%;

        .btn {
          margin-bottom: 0;
        }
      }
    }
  }

  .header {
    .logo,
    .logo-light {
      margin-right: 0;
    }

    .contact-us {
      margin-right: 10px;
    }
  }

  .page-centered iframe {
    width: 100%;
    height: 3700px;
  }

  .page-id-351 .page-centered iframe {
    width: 100%;
    height: 2500px;
  }

  .audit-cost-main .audit-cost-section {
    text-align: left;

    .row {
        width: calc(100% + 15px);

        h1 {
          text-align: center;
        }
      }
    }
  }

@media (orientation: landscape) {
  .mobile-device {
    .home-1,
    .home-2,
    .audit-main .audit-section,
    .it-audit-main .audit-section,
    .tax-main .tax-section {
      display: block !important;
      height: auto !important;
      max-height: none !important;
      padding-bottom: 30px;
    }

    .home-2 {
      padding-top: 30px;
    }

    .tax-love {
      height: auto !important;
      max-height: none !important;
    }

    .tax-love .content-wrap {
      max-width: 100%;
    }
  }
}
