.modal {
  background: $blue;
}

.modal-dialog {
  max-width: 800px;
}

.modal-content {
  border-radius: 0;
  border-color: $white;
  background: none;

  .close {
    text-shadow: none;
    color: $white;
    opacity: 1;
    font-weight: 300;
    font-family: 'Montserat' !important;
    padding: 20px;
    display: block;

    span {
      display: block;
      font-size: 22px;
      width: 22px;
      height: 22px;
    }

    &:hover,
    &:focus {
      color: $light-blue !important;
      opacity: 1 !important;
    }
  }

  .modal-title {
    font-family: Montserrat;
    font-size: 37px;
    font-weight: 400;
    line-height: 46px;
    color: $light-blue;
    margin-bottom: 45px;
  }

  .modal-header {
    border: 0;
  }

  .modal-body {
    padding: 38px 100px 100px;
    color: #fff;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
  }

  form {
    input {
      margin-bottom: 15px;
    }

    button {
      margin-top: 40px;
      margin-bottom: 0;
    }
  }

  a {
    color: $light-blue;
  }
}
