.logo {
  margin: 0 0 40px;

  svg {
    display: block;
    width: 245px;
    height: 105px;

    path {
      transition: all ease 0.3s;
    }
  }

  // &:hover,
  // &:focus {
  //   svg {
  //     path,
  //     polygon {
  //       fill: $light-blue;
  //     }
  //   }
  // }
}

.home,
.home-2,
.button-section {
  height: 100%;
  min-height: 100%;
  position: relative;
  z-index: 2;
}

.home-1 {
  transform: translateX(0);

  .large {
    position: relative;
    padding-left: 120px;

    strong {
      position: absolute;
      display: inline-block;
      width: 120px;
      height: 30px;
      left: 0;
      opacity: 0;
      padding-right: 10px;
      text-align: right;

      &:nth-child(1) {
        animation: cycle 9s 0s infinite linear;
      }

      &:nth-of-type(2) {
        animation: cycle 9s 3s infinite linear;
      }

      &:nth-of-type(3) {
        animation: cycle 9s 6s infinite linear;
      }
    }
  }
}

@keyframes cycle {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  31% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.home-2 {
  transform: translateX(100%);
  text-align: center;

  .flex-row {
    justify-content: center;

    #tax {
      margin-right: 0;
    }
  }
}

.home-2,
.button-section {
  position: absolute !important;
  top: 0;
  left: 0;

  h1 strong {
    color: $light-blue;
    font-weight: 400;
  }

  p {
    margin: 30px 0;
    font-size: 19px;
  }

  .btn {
    display: inline-block;
    min-width: 200px;
    margin-top: 15px;
    margin-right: 30px;
    text-align: center;
  }
}

.lines {
  // transform: translate(1150px, 700px);
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;

  svg {
    position: absolute;
    opacity: 0;
    bottom: -700px;
    right: -1150px;
  }
}

.audit-lines {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 1;
  left: -240px;
  top: -666px;

  svg {
    opacity: 1;
  }

  .rest {
    opacity: 1;
  }
}

.circles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.rest {
  opacity: 0;
}

.audit-section,
.tax-section {
  width: 100%;
  height: 100%;
  max-height: 100%;
  transform: translateY(100%);
  z-index: 2;
  position: relative;

  .button-section {
    position: relative !important;
    height: auto;
    min-height: auto;
    top: auto;
    margin-bottom: 115px;
    // left: 160px;

    .btn {
      // min-width: 240px;
      text-align: center;
    }
  }

  &.audit-active {
    transform: none;
  }

  h1 {
    margin-bottom: 30px;
  }
}

.it-audit-section {
  z-index: 2;
  position: absolute;
  top: 100vh;
  width: 100%;
}

.tax-section{
  z-index: 2;
  // transform: translateY(0);
  // background: $blue;
  position: absolute;
  top: 0;
  width: 100%;

  .button-section {
    margin-top: 150px;
  }
}

.clients-section,
.candidates-section {
  background: $white;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 100%;
  top: 0;
  transform: translateY(-100%);
  z-index: 2;
  overflow: hidden;

  h1,
  p {
    color: $black;
  }

  h1 {
    font-size: 57px;
  }

  .container,
  .col,
  .row {
    height: 100%;
    max-width: 100%;
  }
}

.top-blob {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 3;
  transform: translateY(-100%);
  margin-top: -1px;
  border-top: 29px solid $blue;

  svg {
    height: 250px;
    width: 100%;
    display: block;
  }
}

.why-section,
.candidates-section-2 {
  color: $black;
  text-align: left;
  transform: translateY(100%);
  position: absolute;

  .why-content {
    max-width: 640px;
    margin: 0 auto;
  }

  h1 {
    font-size: 64px;
    color: $black;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    position: absolute;
    bottom: 0;
    left: 76px;

    strong {
      font-weight: 400;
      color: $light-blue;
    }
  }

  .audit-fact {
    padding: 20px 0 5px 136px;

    h2 {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 15px;
      line-height: 24px;
    }
  }
}

.audit-section-4 {
  height: 100%;
  max-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: $blue;
  z-index: 2;
  transform: translateY(-100%);
  overflow: hidden;

  h1 {
    text-align: center;
    font-size: 45px;
    line-height: 63px;
    margin-bottom: 130px;

    strong {
      font-weight: 400;
      color: $light-blue;
    }
  }

  .audit-facts {
    h2 {
      font-size: 20px;
      font-weight: 600;
      border-bottom: 3px solid $light-blue;
      padding-bottom: 20px;
      margin-bottom: 20px;
      line-height: 1.3;
      min-height: 75px;
      padding-right: 80px;
      margin-right: -80px;
    }

    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 15px;
    }

    .col-3 {
      padding-left: 40px;
      padding-right: 40px;

      &:last-child h2 {
        margin-right: 0;
        padding-right: 0;
      }
    }
  }

  .side-title {
    transform: rotate(-90deg);
    transform-origin: center;
    text-transform: uppercase;
    opacity: 0.19;
    color: $white;
    font-size: 88px;
    font-weight: 700;
    letter-spacing: 8.8px;
    position: absolute;
    top: 50%;
  }

  .side-title-left {
    left: -228px;
  }

  .side-title-right {
    right: -263px;
  }
}

.left-blob {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  transform: translateX(100%);

  svg {
    margin-right: -1px;
  }

  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: $white;
    position: absolute;
    left: 736px;
    top: 0;
  }

  svg {
    height: 100%;
    display: block;
  }
}

.audit-testimonial,
.audit-team {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background: $white;
  color: $black;
  transform: translateX(100%);

  .lines-single {
    opacity: 1;
    position: absolute;
    bottom: auto;
    top: -250px;
    right: -185px;
  }

  .container {
    z-index: 2;
  }

  h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 111px;
    text-transform: uppercase;
    font-family: Montserrat;

    strong {
      color: $light-blue;
    }
  }

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 3px solid $light-blue;
    font-family: Montserrat;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 31px;

    li {
      margin: 0;
      padding: 0;
    }
  }
}

.audit-testimonial {
  transform: translateX(100%);

  &:after {
    position: absolute;
    top: 0;
    right: -50%;
    width: 100%;
    height: 100%;
    content: '';
    background: $white;
  }

  .container {
    max-width: 700px;
  }

  blockquote {
    position: relative;
    font-size: 25px;
    font-weight: 400;
    line-height: 48px;
    margin: 0 0 50px;
    padding: 0;
    font-family: Montserrat;

    p {
      font-size: 25px;
      font-weight: 400;
      line-height: 48px;
    }

    &:before,
    &:after {
      position: absolute;
      font-family: Montserrat;
      display: block;
      font-size: 200px;
      font-weight: 600;
      line-height: 33px;
      color: $light-blue;
    }

    &:before {
      content: '“';
      top: 38px;
      left: -111px;
    }

    &:after {
      content: '”';
      bottom: -55px;
      right: -55px;
    }
  }

  h2 {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 600;
    line-height: 33px;
    text-transform: uppercase;
    border: 0;
    margin-bottom: 80px;
  }
}

.audit-section-6 {
  height: 100%;
  max-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: $blue;
  z-index: 2;
  transform: translateY(-100%);

  h1 {
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 400;
    line-height: 66px;
    margin-bottom: 90px;

    strong {
      font-weight: 400;
      color: $light-blue;
    }
  }

  p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
  }
}

.audit-section-7 {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  // opacity: 1 !important;
  // transform: translateY(0) !important;

  &::before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: $white;
    position: absolute;
    top: -50%;
    z-index: 1;
  }

  .container {
    height: auto;
  }

  h1 {
    transform: none;
    position: relative;
    bottom: auto;
    left: auto;
    margin-bottom: 20px;
  }

  .container {
    max-width: 1140px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .icon-columns {
    margin: 60px auto 0;
    max-width: 1000px;

    .col-4 {
      // max-width: 400px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
  }

  .container-fluid {
    height: 100%;
    max-height: 100%;
    z-index: 2;
  }

  #audit-candidates-1-1,
  #audit-candidates-1-2,
  #it-audit-candidates-1-1,
  #it-audit-candidates-1-2 {
    position: absolute;
    width: 100%;
    height: 50%;
    background: #fff;
  }

  #audit-candidates-1-1,
  #it-audit-candidates-1-1 {
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  #audit-candidates-1-2,
  #it-audit-candidates-1-2 {
    bottom: 0;
  }

  #audit-candidates-1-3,
  #it-audit-candidates-1-3 {
    position: absolute;
    height: 100%;
    max-width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .container {
      max-width: 650px;
    }
  }
}

.audit-section-8 {
  max-width: 650px;
  transform: translateX(-100%);
  position: absolute;
  left: 0;
  z-index: 2 !important;

  h1 {
    margin-bottom: 45px;
    font-size: 55px;
    font-weight: 400;
    line-height: 63px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 45px;
  }

  .container {
    // height: 100vh;
  }
}

.audit-section-9 {
  position: absolute;
  z-index: 2;
  height: 100%;
  max-height: 100%;
  background-color: $white;
  color: $black;
  transform: translate(0%, -100%);
  border-bottom: 1px solid $white;
  margin-bottom: -1px;
  width: 100%;
  max-width: none;

  &:before {
    display: none;
  }

  .container {
    max-width: 900px;

    .col {
      display: block !important;
    }
  }

  h1 {
    font-size: 33px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 35px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }

  .slide-title {
    position: absolute;
    font-size: 222px;
    line-height: 200px;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .slide-title-top,
    .slide-title-bottom {
      &:before {
        content: '';
        position: absolute;
        top: -100vh;
        width: 200%;
        height: 200vh;
        z-index: -1;
      }
    }

    .slide-title-top {
      transform: translateX(-100%);

      &:before {
        display: none !important;
        position: absolute;
        left: -100%;
        background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
      }
    }

    .slide-title-bottom {
      transform: translateX(100%);
      color: $light-blue;

      &:before {
        right: -100%;
        background: linear-gradient(90deg, rgba(255,255,255,0) 100%, rgba(255,255,255,1) 50%);
      }
    }
  }
}

.audit-section-10 {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 100%;
  transform: translateY(0);
  opacity: 0;
  z-index: 1;

  .before,
  .after {
    background: $white;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 3;
  }

  .before {
    left: 0;
  }

  .after {
    right: 0;
  }

  h1 {
    margin-bottom: 40px;
  }

  .call-to-action {
    opacity: 0;
  }

  .btn {
    min-width: 200px;
    margin: 0 10px;

    &:before,
    &:after {
      right: 25px;
    }
  }

  p {
    margin-top: 40px;

    a {
      color: $white;

      &:hover,
      &:focus {
        color: $light-blue;
      }
    }
  }
}

.right-blob {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  margin-left: -1px;

  svg {
    position: absolute;
    top: 0;
    left: calc(50% - 359px);
    z-index: 2;
  }

  &:before {
    display: block;
    content: '';
    width: calc(50% - 359px);
    height: 100%;
    background: linear-gradient(-90deg, rgba(7,23,56,1) 50%, rgba(7,23,56,0) 100%);
    position: absolute;
    left: 0;
    top: 0;
  }

  &:after {
    display: block;
    content: '';
    width: calc(25% + 358px);
    height: 100%;
    background: $white;
    position: absolute;
    right: 25%;
    top: 0;
  }

  svg {
    height: 100%;
    display: block;
  }
}

.tax-clients {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: $white;
  color: $black;
  transform: translateX(100%);

  .container {
    height: 100%;
    max-height: 100%;
  }

  h1 {
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 30px;

    strong {
      color: $light-blue;
      font-weight: 400;
    }
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

    a {
      color: $light-gray;

      &:hover,
      &:focus {
        color: $light-blue;
      }
    }
  }

  .tax-item {
    margin-bottom: 35px;

    h2 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
    }
  }
}

.bottom-blob {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  transform: translateY(100%);
  margin-top: -1px;

  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    margin-bottom: -1px;
  }

  &:after {
    position: absolute;
    content: '';
    background: $blue;
    width: 100%;
    height: 40%;
    bottom: -40%;
  }
}

.left-blob-blue {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  transform: translateX(100%);

  svg {
    margin-right: -1px;
  }

  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: $blue;
    position: absolute;
    left: 1232px;
    top: 0;
  }

  svg {
    height: 100%;
    display: block;
  }
}

.tax-candidates {
  .col {
    max-width: 600px;
  }
}

.tax-love {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  z-index: 2;
  background: $white;
  color: $black;
  transform: translateX(-100%);
  margin-left: -1px;

  .container-fluid {
    height: 100%;
    max-height: 100%;
  }

  .row {
    height: 100%;
    max-height: 100%;

    .col-6 {
      display: flex;
      align-items: center;
      height: 100%;
      max-height: 100%;
      padding-left: 30px;
      padding-right: 30px;

      &:first-child {
        z-index: 2;
        justify-content: flex-end;
      }
    }
  }

  h1 {
    font-size: 222px;
    font-weight: 700;
    line-height: 0.9;
    text-transform: uppercase;
    text-align: right;

    strong,
    span {
      display: block;
    }

    strong {
      color: $light-blue;
    }
  }

  .content-wrap {
    max-width: 550px;

    p:last-child {
      margin-bottom: 0;
    }
  }

  p {
    font-size: 19px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 25px;
  }

  .larger {
    margin-bottom: 25px;

    p {
      font-weight: 400;
      font-size: 29px;
      line-height: 44px;

    }
  }

  .before,
  .after {
    display: block;
    position: absolute;
    top: -50vh;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }

  .before {
    left: -100%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  }

  .after {
    right: -100%;
    background: linear-gradient(-90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  }
}

.tax-how {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  z-index: 2;
  background: $blue;
  display: flex;
  align-items: center;
  transform: translateY(100%);

  h1 {
    font-size: 45px;
    font-weight: 400;
    line-height: 63px;
    margin-bottom: 90px;
  }

  .icon-cols {
    max-width: 1200px;
    margin: 0 auto;

    .arrow {
      position: absolute;
      top: 0;
      right: -9px;
    }

    .icon-col {
      padding: 0 45px;

      svg {
        height: 100px;
        opacity: 0.2;
      }

      h2 {
        font-size: 22px;
        font-weight: 500;
        line-height: 27px;
        margin-top: 50px;
        margin-bottom: 15px;
        opacity: 0;
      }

      p {
        font-size: 13px;
        font-weight: 400;
        line-height: 25px;
        opacity: 0;
      }

      &:last-child {
        .arrow {
          display: none;
        }
      }
    }
  }
}

.tax-revolution {
  transform: none;
}

.about {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background: $blue;

  .col {
    position: absolute;
    top: 0;
    max-width: 620px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    transform: translateY(-50%);
    display: block;
  }

  h1 {
    font-size: 64px;
    font-weight: 400;

    strong {
      opacity: 0;
      font-weight: 400;
      color: $light-blue;
    }
  }

  h2 {
    opacity: 0;
    font-weight: 400;
    margin-bottom: 30px;

    strong {
      font-weight: 400;
      color: $light-blue;
    }
  }

  p {
    opacity: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;

    strong {
      line-height: 39px;
      font-size: 22px;
      font-weight: 600;
    }
  }

  .row {
    position: relative;
  }

  .right-col {
    opacity: 0;
    right: 0;
    max-width: 480px;

    h1 {
      margin-bottom: 20px;
    }

    .large {
      font-size: 24px;

      p {
        font-size: 24px;
      }
    }

    .large p,
    .btn {
      opacity: 0;
    }
  }

  .about-circle {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;

    svg {
      transform: scale(0.125);

      path {
        stroke-width: 20px;
      }

      .middle-ring {
        stroke-width: 40px;
      }

      // .user-icon-fill {
      //   fill: $light-blue;
      // }
    }
  }
}

.clients {
  position: absolute;
  top: 0;
  background: $blue;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 45px;
    font-weight: 400;
    line-height: 63px;
    margin-bottom: 60px;

    strong {
      font-weight: 400;
      color: $light-blue;
    }
  }

  .logos {
    .col {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 130px;
    }

    .space-between {
      justify-content: space-between;

      .row {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}

.contact {
  position: absolute;
  top: 0;
  background: $blue;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;

  h1 {
    font-size: 37px;
    font-weight: 400;
    line-height: 46px;
    margin-bottom: 60px;

    strong {
      font-weight: 400;
      color: $light-blue;
    }
  }

  .row {
    margin-left: -30px;
    margin-right: -30px;

    .col,
    .col-9,
    .col-3 {
      padding-left: 30px;
      padding-right: 30px;
    }

    .form-content {
      margin-top: 15px;

      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 15px;

        a {
          color: $white;

          &:hover,
          &:focus {
            color: $light-blue;
          }
        }
      }
    }
  }

  form {
    input,
    textarea {
      margin-bottom: 30px;
    }
  }
}

.application {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: flex-end;
  background: $white;
  color: $black;
  text-align: center;
  z-index: 2;
  transform: translateY(100%);

  .container {
    display: block;
    .row {
      display: block;
      .col {
        display: block;
      }
    }
  }

  .col {
    max-width: 860px;
    margin: 0 auto;
  }

  h1 {
    font-size: 55px;
    font-weight: 400;
    line-height: 63px;
    margin-bottom: 45px;

    strong {
      font-weight: 400;
      color: $light-blue;
    }
  }

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;

    a {
      text-decoration: underline;
      color: $black;

      &:hover,
      &:focus {
        color: $light-blue;
      }
    }
  }

  .btn {
    margin: 10px 0;
  }

  .p-small {
    padding-bottom: 30px;

    p {
      margin: 30px 0;
      font-size: 16px;
    }
  }
}

.stroke-blob {
  position: absolute;
  top: -830px;
  left: -1100px;
  z-index: 1;
  display: none;
}

.webinar-main {
  .lines {
    display: none;
  }

  .stroke-blob {
    display: block;
  }
}

.page-template-template-webinar {
  background: $blue;
}

.webinar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;

  h1 {
    font-size: 64px;
    font-weight: 400;

    strong {
      font-weight: 400;
      color: $light-blue;
    }
  }

  .container {
    height: 100%;
    max-height: 100%;
  }

  .row {
    height: 100%;
    max-height: 100%;
    position: relative;
    align-items: center;
  }

  .col {
    position: absolute;
  }

  .container {
    display: block;
  }

  .wow-wrap {
    // display: flex;
    // justify-content: flex-end;
    // align-items: center;
    z-index: 1;
    display: block;
    margin-left: 50%;

    .wow {
      position: absolute;
      max-width: 50%;
      width: 50%;
      display: block;
      transform: translateY(-50%);
    }

    p {
      font-size: 35px;
      font-weight: 400;
      line-height: 50px;
      margin-bottom: 0;
    }
  }

  .join-wrap {
    transform: translateX(-100vw);
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    display: block;
    margin-left: 0;

    .join {
      position: absolute;
      width: 100%;
      transform: translateY(-50%);

      h1 {
        margin-bottom: 20px;
      }

      p {
        font-weight: 400;
        line-height: 30px;
        font-size: 19px;
        max-width: 680px;
      }

      .webinar-wrap {
        position: relative;

        .webinar-content {
          .p-first {
            p {
              padding-top: 80px;
            }
          }

          .p-large {
            p {
              font-size: 29px;
              font-weight: 400;
              line-height: 50px;
              margin-bottom: 30px;
            }

            strong {
              font-weight: 400;
              color: $light-blue;
            }
          }

          .p-last {
            p {
              margin: 40px 0 0;
            }
          }
        }

        .webinar-table {
          transform: translateX(-100vw);
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;

          table {
            font-size: 18px;
            font-weight: 400;
            width: 100%;

            tr {
              border-bottom: 1px solid $light-blue;

              td {
                padding: 30px 0;


                a {
                  font-weight: 700;
                  color: $light-blue;

                  &:hover,
                  &:focus {
                    color: $white;
                  }
                }

                &:last-child {
                  text-align: right;
                  padding-right: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.page-template-template-home,
.page-template-template-tax {
  .new-blog {
    background: $white !important;
    margin-top: 76px;
  }
}

.audit-main,
.it-audit-main {
  .audit-section {
    transform: none;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .lines {
    svg {
      opacity: 1;
      top: -680px;
      left: -235px;

      .rest {
        opacity: 1;
      }
    }
  }

  .new-blog {
    background: $white !important;
    margin-top: 76px;
  }
}

.audit-clients-main,
.it-audit-clients-main {
  .clients-section,
  .top-blob {
    transform: none;
  }

  .new-blog {
    background: $white !important;
    margin-top: 76px;
  }
}

.audit-candidates-main,
.it-audit-candidates-main {
  .candidates-section,
  .top-blob {
    transform: none;
  }
}

.tax-main {
  .tax-section {
    transform: none;
  }

  .lines {
    transform: translateX(-225%) translateY(-75%) scale(2);

    svg {
      opacity: 1;
      bottom: -288px;
      right: -1380px;

      .rest {
        opacity: 1;
      }
    }
  }
}

.tax-clients-main {
  .tax-clients {
    transform: none;
  }
}

.tax-candidates-main {
  // .tax-candidates {
  //   transform: none;
  // }

  .tax-love {
    transform: none;
  }
}

.overflow-auto {
  overflow: auto;

  main {
    height: auto;
  }
}

.white-board {
  background: $white !important;
  overflow-x: hidden !important;
}

.page-template-template-team {
  background: $blue;
}

.team-main {
  background: $blue;
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 1.75;

  h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    margin: 30px 0;
    color: $light-blue;
  }

  .team {
    margin: 30px 0;
    position: relative;

    .team-overlay {
      // background: linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 100%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    h2 {
      margin-top: 20px;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
    }

    .position {
      display: block;
      color: $light-blue;
      margin-bottom: 15px;
      font-size: 18px;
    }
  }
}

.page-template-default,
.search-results,
.error404 {
  background: $blue;
  overflow: auto;
}

.error404 .page-single {
  width: 100%;
  height: calc(100% - 76px);

  .single-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.page-single {
  background: $blue;
  color: $white;
  padding-top: 30px;

  img {
    max-width: 100%;
    height: auto;

    &.alignright {
      float: right;
      margin-bottom: 30px;
    }

    &.alignleft {
      float: left;
      margin-bottom: 30px;
    }

    &.aligncenter {
      display: block;
      margin: 0 auto 30px;
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: 30px;

    a {
      flex: 0 0 calc(33.3333% - 12px);
      margin: 0 6px 12px;
    }
  }

  .single-content {
    line-height: 22px;
    font-size: 15px;
    padding-bottom: 30px;

    h1:first-of-type {
      color: $light-blue;
    }

    a {
      color: $white;

      &:hover,
      &:focus {
        color: $light-blue;
      }
    }

    .single-title {
      margin-bottom: 0;
    }

    .author {
      margin-bottom: 30px;
      font-size: 13px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 30px;
    }

    h2 {
      font-size: 40px;
    }

    p,
    ul,
    ol {
      margin-bottom: 30px;
      font-size: 15px;
    }

    .posts-navigation {
      h2 {
        font-size: 20px;
      }

      a {
        color: $light-blue;
      }
    }
  }

  strong,
  b {
    font-weight: 700;
  }
}

.archive,
.category {
  background: $blue;
}

.apply-main {
  display: block;
  .application {
    transform: none;
    align-items: center;
  }
}

.audit-cost-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  color: $black;

  .audit-cost-section {
    position: relative;
    z-index: 3;
    width: 100%;

    .container {
      padding-right: 300px;
    }
  }

  h1 {
    font-size: 35px;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;

    &:after {
      display: block;
      content: '';
      width: 74px;
      height: 6px;
      background-color: $light-blue;
      margin-top: 20px;
    }
  }

  p,
  ul,
  ol {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  strong,
  b {
    font-weight: 700;
  }
}

.page-template-template-audit-cost {
  background: $white;
}

.cost-blob {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  // transform: translateX(100%);

  svg {
    position: absolute;
    right: 0;
    height: 100%;
    display: block;
  }
}

.how-works-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  color: $black;
  text-align: center;
  // height: calc(100% - 76px) !important;

  .how-works-section {
    width: 100%;
  }

  h1 {
    font-size: 35px;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;

    &:after {
      display: block;
      content: '';
      width: 74px;
      height: 6px;
      background-color: $light-blue;
      margin: 20px auto 0;
    }
  }

  p,
  ul,
  ol {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  form {
    max-width: 630px;
    margin: 0 auto;

    input {
      padding: 10px 30px;
      height: 55px;
      border: 1px solid $light-blue;
      margin-bottom: 30px;
      color: $black;

      &::-webkit-input-placeholder {
        color: $gray;
      }

      &:-ms-input-placeholder {
        color: $gray;
      }

      &::placeholder {
        color: $gray;
      }
    }

    .form-check {
      font-size: 11px;
      font-weight: 400;
      color: $gray;
      line-height: 25px;
      margin-bottom: 30px;

      a {
        color: $light-blue;
      }

      input {
        width: 25px;
        height: 25px;
        padding: 0;
        margin: 0;
      }

      label {
        margin-left: 35px;
      }
    }
  }
}

.thanks-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  color: $black;
  text-align: center;

  h1 {
    font-size: 35px;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;

    &:after {
      display: block;
      content: '';
      width: 74px;
      height: 6px;
      background-color: $light-blue;
      margin: 20px auto 0;
    }
  }

  p,
  ul,
  ol {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 30px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .thanks-section {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .container {
    align-self: center;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .thanks {
    flex: 0 1 auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 200px;
    font-weight: 700;
    align-self: flex-end;
    margin-bottom: -50px;
  }
}

.case-study-main {
  .audit-testimonial {
    transform: none;
  }
}

.vertical-content {
  background: #071738;
  width: 100%;
  height: calc(100% - 76px);
  max-height: calc(100% - 76px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0 !important;
}

.page-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
