// High Res Desktop
@media only screen and (min-width: 1800px) {
  .application {
    align-items: center;
  }
}

// Desktop
@media only screen and (max-width: 1200px) {
  .header .menu-wrapper .menu-lines {
    left: -1010px;
  }

  .lines {
    bottom: 120px;

    .bot-line,
    .circle,
    .rest-line {
      transition: opacity ease 0.3s;
    }
  }

  .top-blob svg {
    height: 200px;
  }

  .audit-testimonial .lines-single,
  .audit-team .lines-single {
    top: -320px;
  }

  .audit-facts {
    max-width: 1080px;
  }

  .tax-love h1 {
    font-size: 200px;
  }

  .stroke-blob svg {
    transform: scale(0.7);
  }

  .tax-main .lines {
    transform: none;
    left: -1700px;
  }

  .outer-line {
    display: none;
  }

  .animation-audit {
    .lines {
      .bot-line,
      .circle,
      .rest,
      .rest-line {
        opacity: 0;
      }
    }
  }

  .main-blog .swiper-container-wrap {
    max-width: 80%;
  }

  .main-blog .slider {
    max-width: none;

    .slide {
      .col,
      img {
        max-height: 190px;
      }
    }
  }

  .main-blog .slider .slide .blog-post .post-content {
    h2 {
      font-size: 14px;
    }

    time,
    p {
      font-size: 12px;
    }
  }


  .main-blog .social-bar {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
  }
}

// Laptop
@media only screen and (max-height: 768px) {
  .top-blob svg {
    height: 180px;
  }

  .stroke-blob .outer-line {
    display: none;
  }

  .main-webinar .top-blob {
    display: none;
  }

  .main-blog .slider {
    max-width: 600px;

    .slide {
      .col,
      img {
        max-height: 142px;
      }
    }
  }

  .lines,
  .audit-testimonial .lines-single,
  .audit-team .lines-single {
    display: none;
  }

  .header .menu-wrapper ul li {
    margin-top: 12px;
  }

  .contact form input, .contact form textarea {
    margin-bottom: 15px;
  }

  .webinar .join-wrap .join .webinar-wrap .webinar-table table tr td {
    padding: 25px;
  }

  .webinar .join-wrap .join .webinar-wrap .webinar-content .p-first p {
    padding-top: 25px;
  }

  .application {
    align-items: flex-end;
  }

  .how-works-main form {
    .row {
      margin-left: -5px;
      margin-right: -5px;

      .col,
      .col-sm {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    input {
      margin-bottom: 10px;
    }

    .form-check {
      margin-bottom: 10px;
    }

    .btn {
      font-size: 12px;
      padding: 10px 20px;
    }
  }

  .thanks-main .thanks {
    font-size: 150px;
    margin-bottom: -38px;
  }
}

// iPad Pro
@media only screen and (max-width: 1024px) {
  .home-1 h1 {
    text-align: center;
  }

  .header .menu-wrapper .menu-lines {
    left: -1080px;
  }

  .lines {
    right: 100px;
    display: none;
  }

  .audit-facts {
    max-width: 900px;
  }

  .audit-testimonial h1,
  .audit-team h1 {
    font-size: 80px;
  }

  .audit-section-9 .slide-title {
    font-size: 190px;
  }

  .tax-love h1 {
    font-size: 160px;
  }

  .about .about-circle {
    right: -250px;
  }

  .audit-section {
    align-items: center !important;
    height: 100%;
    max-height: 100%;

    .row {
      justify-content: center;
    }

    .button-section {
      max-width: 460px;
    }
  }

  .tax-section {
    align-items: center !important;
    height: 100%;
    max-height: 100%;

    .container {
      height: 100%;
      max-height: 100%;
    }

    .row {
      height: 100%;
      max-height: 100%;
      justify-content: center;
    }

    .col {
      justify-content: center !important;
    }

    .button-section {
      max-width: 460px;
    }
  }

  .main-single .side-title {
    display: none;
  }

  .top-blob svg {
    height: 200px;
  }

  .stroke-blob .outer-line {
    display: none;
  }

  .main-webinar .top-blob {
    display: block;
  }
}

// iPad
@media only screen and (max-width: 968px) {
  .header .menu-wrapper .menu-lines {
    display: none;
  }

  .header .menu-wrapper nav {
    float: none;
    padding: 0;
  }

  .audit-section {
    height: 100vh;
    max-height: 100vh;

    .button-section {
      margin-bottom: 0;
    }
  }

  .audit-facts {
    max-width: calc(100% - 30px);
  }

  .audit-testimonial blockquote:before,
  .audit-testimonial blockquote:after {
    font-size: 100px;
  }

  .audit-testimonial blockquote:before {
    content: '\201C';
    top: 26px;
    left: -46px;
  }

  .audit-testimonial blockquote:after {
    content: '\201D';
    bottom: -15px;
    right: -46px;
  }

  .audit-section-9 .slide-title {
    font-size: 140px;
  }

  .modal-dialog {
    max-width: calc(100% - 30px);
  }

  .tax-love h1 {
    font-size: 110px;
  }

  .about .about-circle,
  .stroke-blob {
    display: none;
  }

  .contact p br {
    display: none;
  }

  .main-blog .slider {
    .slide {
      .col,
      img {
        max-height: 139px;
      }
    }
  }
}

// iPhone
@media only screen and (max-width: 768px) {
  .blog-single {
    padding-right: 0;

    .single-content {
      padding-bottom: 0;
    }
  }

  .sidebar {
    padding: 0 0 30px;
  }
}
