.toggle {
  border-bottom: 1px solid $light-blue;
  // padding: 15px 0;
  margin: 15px 0;

  .toggle-header {
    button {
      background: none;
      border: 0;
      color: $white;
      font-size: 18px;
      font-weight: 500;
      padding: 0;
      margin: 0;
      line-height: 25px;
      cursor: pointer;
    }

    margin-bottom: 15px;
  }

  .toggle-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 15px;
    
    p {
      margin-bottom: 15px;
    }
  }
}
