html,
body {
  font-size: 16px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: normal;
  color: $font-color;
  background: url('../images/bg.svg') center no-repeat $blue;
  padding-top: 29px;
}

main {
  height: calc(100% - 76px);
}

p {margin-bottom: 1.3em;}

a {
  transition: color ease 0.3s;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $light-blue;
  }
}

.logo {
  font-family: 'Comfortaa', cursive;
  text-transform: lowercase;
  font-size: 64px;
  font-weight: 700;
  color: $white;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: inherit;
  line-height: 1.2;
  // font-family: 'Raleway', sans-serif;
}

h1,
.heading-1 {
  font-size: 48px;
  font-weight: 400;
}

h2,
.heading-2 {
    font-size: 2.827em;
}

h3,
.heading-3 {
    font-size: 1.999em;
}

h4,
.heading-4 {
  font-size: 1.414em;
}

small, .font--small {font-size: 0.707em;}

.large {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin: 45px 0 0;

  strong {
    font-weight: 700;
    color: $light-blue;
  }
}

.small {
  opacity: 0.5;
  color: $light-blue;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.ie .row {
  width: 100%;
}

.text-normalcase {
  text-transform: none !important;
}
